*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/values/colors.xml
/.idea/compiler.xml
/app/src/main/res/layout/content_main.xml
/app/src/androidTest/java/com/example/basicactivity/ExampleInstrumentedTest.java
/app/src/test/java/com/example/basicactivity/ExampleUnitTest.java
/gradle.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/app/src/main/res/mipmap-hdpi/ic_launcher.webp
/app/src/main/res/mipmap-mdpi/ic_launcher.webp
/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/app/src/main/res/drawable/ic_launcher_background.xml
/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/.idea/misc.xml
/app/proguard-rules.pro
/.idea/vcs.xml
